*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.container{
    position: relative;
    border: 3px solid #000;
    padding: 50px 10px;
    border-radius: 30px;
    max-width: 322px;
}
.headerimg {
    position: relative;
    right: 50px;
    max-width: 300px;
}
img {
    position: absolute;
}
@media screen and (max-width: 400px) {
    .headerimg {
      right: 20px;
      max-width: 250px;
    }
}
.cards{
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards img {
    width: 250px;
}
.cards img:first-child {
    left: -30%;
    top: 20%;
}
.cards img:last-child {
    right: -20%;
    bottom: 10%;
}
.dots {
    bottom: 30px;
    left: -15px;
}
.circle {
    top: 40%;
    right: 30px;
    z-index: 1;
}
.dart {
    top: 0;
    left: -45px;
}
